.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.txt {
  font-size: 35px;
  font-weight: bold;
  color: rgb(198, 43, 43);
}

@media screen and (max-width: 480px) {
  .img {
    height: 100vh;
  }
}
